<%= link_to "countries index", "/countries" %>
<%= link_to "cities index", "/cities" %>

<h3><%= "#{@countries.name} cities" %></h3>

  <% @countries.cities.each do |city| %>
    <p> <%= "#{city.name}, #{city.population}, #{city.capital}" %> </p>
  <% end %>
