<%= link_to "countries index", "/countries" %>
<%= link_to "cities index", "/cities" %>


<h1>All cities</h1>


<% @cities.each do |city| %>
  <h3><%=  city.name %></h3>
  <p> <%= " #{city.population}, #{city.capital}, #{city.country_id}" %> </p>
<% end %>
